.fbold
{
    font-weight: bold;
}
.White
{
    color: #FFF;
}
.red
{
    color: #F00;
}
.f14
{
    font-size: 12px;
}
.font5bad27
{
    color: #5bad27;
}
a.Fonta1aabb:link
{
    color: #a1aabb;
}
a.Fonta1aabb:visited
{
    color: #a1aabb;
    text-decoration: none;
}
a.Fonta1aabb:hover
{
    color: #bfc7d6;
    text-decoration: none;
}
#Header
{
    width: 100%;
    height: 89px;
    background: url(../images/MHeaderBg.gif) repeat-x;
}
#Line
{
    background: url(../images/Index_TopLine.gif) no-repeat 0 1px;
    width: 1002px;
    margin: 0 auto;
}
#Logo
{
    width: 155px;
    height: 89px;
    float: left;
}
#menu
{
    float: right;
    margin: 0px;
    padding: 0px;
}
#menu li
{
    display: inline;
    vertical-align: text-bottom;
    font-weight: bold;
    line-height: 88px;
    background: url(../images/Top.png) no-repeat 0 -521px;
    height: 88px;
    width: 134px;
    color: #d1d4e6;
}
#menu li a
{
    float: left;
    text-decoration: none;
    text-align: center;
    background: url(../images/Top.png) no-repeat 0 -521px;
    line-height: 92px;
    height: 88px;
    width: 134px;
    color: #d1d4e6;
}
#menu li a:hover
{
    color: #221f2a;
    background: url(../images/Top.png) 0 -402px;
}
#menu li a.current
{
    color: #221f2a;
    background: url(../images/Top.png) no-repeat 0 -402px;
}
#Tool
{
    background: url(../images/Tool.gif) repeat-x;
    height: 32px;
    line-height: 32px;
}
.Language
{
    float: left;
    height: 32px;
    line-height: 32px;
    text-indent: 0.5em;
    background: url(../images/LanguageLine.gif) no-repeat -2px 0px;
}
.Language span
{
    line-height: 32px;
    height: 32px;
    float: left;
}
.Report
{
    height: 32px;
    line-height: 32px;
    float: left;
    text-align: left;
    padding-left: 10px;
}
.Toolbar
{
    float: right;
    text-indent: 35px;
    padding-right: 20px;
}
.Toolbar a
{
    height: 32px;
    line-height: 32px;
    color: #848897;
    float: right;
    text-align: left;
    width: 108px;
}
.Toolbar a:link, .TopLink a:visited
{
    color: #848897;
    text-decoration: none;
}
.Toolbar a:hover, .TopLink a:active
{
    color: #4f556c;
    text-decoration: none;
    font-weight: bold;
}
.Toolbar .a1
{
    background: url(../images/Top.png) no-repeat 0px -154px;
}
.Toolbar .a2
{
    background: url(../images/Top.png) no-repeat 0px -764px;
}
.Toolbar .a3
{
    background: url(../images/Top.png) no-repeat 0px -278px;
}
.Toolbar .a4
{
    background: url(../images/Top.png) no-repeat 0px -92px;
}
.Toolbar .a5
{
    background: url(../images/Top.png) no-repeat 0px -702px;
}
.Toolbar .a1:hover
{
    background: url(../images/Top.png) no-repeat 0px -640px;
}
.Toolbar .a2:hover
{
    background: url(../images/Top.png) no-repeat 0px -30px;
}
.Toolbar .a3:hover
{
    background: url(../images/Top.png) no-repeat 0px -826px;
}
.Toolbar .a4:hover
{
    background: url(../images/Top.png) no-repeat 0px -216px;
}
.Toolbar .a5:hover
{
    background: url(../images/Top.png) no-repeat 0px -340px;
}
.Left_NavTop
{
    background: url(../images/Left_NavTop.gif) no-repeat -2px 0px;
    width: 179px;
    height: 5px;
}
#Content
{
    width: 100%;
    clear: both;
    height: 473px;
}
#Left_Nav
{
    background: url(../images/LeftBG.gif) repeat-y;
    width: 179px;
    float: left;
    line-height: 21px;
    height: 100%;
}
.Tit
{
    background: url(../images/Nav_Title.jpg) no-repeat;
    width: 179px;
    height: 26px;
    line-height: 18px;
    color: #383859;
}
.TitOut
{
    background: url(../images/Nav_Title001.jpg) no-repeat;
    width: 179px;
    height: 26px;
    line-height: 18px;
    color: #383859;
}
#banben
{
}
#Nav_Menu
{
    width: 179px;
    height: 300px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
}
#Nav_Menu a
{
    float: left;
    width: 179px;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    background: url(../images/Nav.png) no-repeat 0 -91px;
    color: #848897;
}
#Nav_Menu a:visited
{
    color: #848897;
}
#Nav_Menu a:hover
{
    width: 179px;
    height: 31px;
    line-height: 31px;
    font-weight: bold;
    background: url(../images/Nav.png) no-repeat 0 -30px;
    color: #fff;
    font-weight: bold;
}
#Nav_Menu a.Nav_On
{
    background: url(../images/Nav.png) no-repeat 0 -30px;
    height: 31px;
    width: 179px;
    color: #fff;
    font-weight: bold;
}
#Nav_Menu a.Nav_On:visited
{
    background: url(../images/Nav.png) no-repeat 0 -30px;
    height: 31px;
    width: 179px;
    color: #fff;
    font-weight: bold;
}
#Nav_Menu a.Nav_On:hover
{
    background: url(../images/Nav.png) no-repeat 0 -30px;
    height: 31px;
    width: 179px;
    color: #fff;
    font-weight: bold;
}
#XBox
{
    float: left;
    width: 80%;
}
.tabxm
{
    height: 24px;
    background: url(../images/tabxmBG.png) repeat-x;
}
.tabxm ul
{
    text-align: center;
}
.tabxm li
{
    width: 97px;
    float: left;
    height: 24px;
    line-height: 24px;
}
.tabxm li a:link, .tabxm li a:visited
{
    display: inline;
    color: #848897;
    text-decoration: none;
    height: 24px;
    width: 97px;
    float: left;
}
.tabxm li a:hover, .tabxm li a:active
{
    color: #5ebd23;
    font-weight: bold;
    text-decoration: none;
    background: url(../images/tab.png);
    width: 97px;
}
.tabxm li a.current
{
    color: #5ebd23;
    font-weight: bold;
    background: url(../images/tab.png);
    height: 24px;
    width: 97px;
}
#Footer
{
    background: url(../images/Footer.gif) repeat-x;
    height: 26px;
    width: 100%;
    text-align: left;
    line-height: 26px;
    text-indent: 1em;
    margin: 0 auto;
    clear: both;
}